.pageContent {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #FFF;

  .successImage {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
  }

  .successTitle {
    font-size: 24px;
    color: rgba(0, 0, 0, .88);
    text-align: center;
    margin-top: 24px;
  }

  .successNote {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, .45);
  }

  .buttonContent {
    text-align: center;
    display: flex;
    margin-top: 20px;

    .backButton {
      height: 32px;
      padding: 0 20px;
      line-height: 32px;
      color: #FFF;
      background-color: #00afc7;
      font-size: 16px;
      display: inline-block;
      border-radius: 6px;
      margin: 0 auto;
    }
  }
}