.bannerContent {
  max-width: 1200px;
  height: 350px;
  overflow: hidden;
  position: relative;

  .bannerItem {
    max-width: 1200px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s linear;

    &.active {
      opacity: 1;
    }

    .bannerImage {
      max-width: 1200px;
      height: 350px;
    }
  }

  .bannerDot {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .dotIcon {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: #FFF;
      opacity: .7;
      display: block;
      margin-left: 10px;
      cursor: pointer;

      &.active {
        opacity: 1;
      }


      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}