.pageContent {
  width: 1200px;
  margin: 0 auto;

  li {
    margin-bottom: 10px;
    line-height: 26px;
  }

  .infoContent {
    background-color: #FFF;
    width: 800px;
    margin: 0 auto;
    padding: 20px 50px;
  }
}