.pageContent {
  width: 1200px;
  margin: 0 auto;

  .filterContent {
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 10px;

    .filterTag {
      color: #666;
      font-size: 12px;
      margin: 0 10px;
      padding: 8px;
      white-space: nowrap;
      width: 70px;
      line-height: 14px;
      height: 30px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 10px;

      &:hover {
        color: #00afc7;

        &.active {
          color: #FFF;
        }
      }


      &.active {
        color: #fff;
        background-color: #00afc7;
        border-radius: 35px;
      }
    }
  }


  .listContent {
    background-color: #FFF;
    margin-top: 20px;

    .topicContent {
      display: flex;
      padding: 15px 20px;
      border-bottom: 1px solid #F0F0F0;

      &:hover {
        background-color: #f8f8f8;
      }

      .imageContent {
        width: 175px;
        height: 130px;
        margin-right: 16px;
        cursor: pointer;
      }

      .infoRow {
        height: 26px;
        line-height: 26px;
      }

      .topicTitle {
        color: #333;
        font-size: 16px;
        height: 26px;
        line-height: 26px;
        cursor: pointer;
      }

      .infoRate {
        font-size: 14px;
        color: #00afc7;
        margin-right: 10px;
      }

      .infoComment,
      .infoAddress {
        font-size: 12px;
        color: #999;
        cursor: pointer;
      }
    }
  }

  // 详情页样式
  .infoContent {
    background-color: #FFF;
    padding: 20px;
    margin-top: 20px;
    display: flex;

    .leftContent {
      width: 880px;
      margin-right: 10px;

      .titleContent {
        height: 33px;
        color: #333;
        font-weight: 700;
        line-height: 33px;
        font-size: 22px;
      }

      .infoRow {
        margin-top: 6px;
        height: 22px;
        line-height: 22px;
        font-size: 14px;
        color: #666;

        .infoRate {
          color: #00afc7;
          font-size: 14px;
          margin-right: 10px;
        }

        .infoComment {
          color: #666;
        }

        .baseInfo {
          min-width: 200px;
          margin-right: 20px;
        }
      }

      .divider {
        height: 1px;
        background-color: #ddd;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
      }

      .detailContent {
        color: #333;
        font-size: 14px;
      }
    }

    .rightContent {
      width: 320px;
      height: 210px;
      background-color: #eee;
      position: relative;

      &:hover {

        .leftButton,
        .rightButton {
          display: block;
        }
      }

      .leftButton {
        position: absolute;
        left: 6px;
        top: 50%;
        font-size: 36px;
        color: #FFF;
        transform: translateY(-50%);
        opacity: .8;
        display: none;
        cursor: pointer;
      }

      .rightButton {
        position: absolute;
        right: 6px;
        top: 50%;
        font-size: 36px;
        color: #FFF;
        transform: translateY(-50%);
        opacity: .8;
        display: none;
        cursor: pointer;
      }

      .indexContent {
        height: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        font-size: 12px;
        color: #FFF;
        line-height: 20px;
        opacity: .6;
        text-align: center;
      }
    }
  }

  .commentContent {
    margin-top: 20px;
    background-color: #FFF;
    padding: 20px;

    .titleContent {
      font-size: 16px;
      color: #333;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .commentCount {
      color: #999;
    }

    .commentList {

      .moreRow {
        text-align: right;
        margin-top: 10px;

        .moreButton {
          cursor: pointer;
          font-size: 14px;
          color: #999;
        }
      }
    }
  }
}